In [41]:
with open("new_result.txt") as content:
    content=content.read()
    content=content.split("\n")

In [43]:
fail=[]
for i in content:
    if i[0:5]=='coll ':
        fail.append(int(i[5:].strip(' ')))
    if i[0:4]=='end ':
        fail.append(int(i[4:].strip(' ')))

In [45]:
fail=list(set(fail))

In [37]:
end=list(set(end))
coll=list(set(coll))

In [38]:
len(end)

38

In [39]:
len(coll)

31

In [21]:
class MotionState:
    def __init__(self, time_stamp_ms):
        assert isinstance(time_stamp_ms, int)
        self.time_stamp_ms = time_stamp_ms
        self.x = None
        self.y = None
        self.vx = None
        self.vy = None
        self.psi_rad = None

    def __str__(self):
        return "MotionState: " + str(self.__dict__)


class Track:
    def __init__(self, id):
        # assert isinstance(id, int)
        self.track_id = id
        self.agent_type = None
        self.length = None
        self.width = None
        self.time_stamp_ms_first = None
        self.time_stamp_ms_last = None
        self.start_end = None
        self.motion_states = dict()
        self.road_states = dict()

    def __str__(self):
        string = "Track: track_id=" + str(self.track_id) + ", agent_type=" + str(self.agent_type) + \
                 ", length=" + str(self.length) + ", width=" + str(self.width) + \
                 ", time_stamp_ms_first=" + str(self.time_stamp_ms_first) + \
                 ", time_stamp_ms_last=" + str(self.time_stamp_ms_last) + \
                 "\n motion_states:"
        for key, value in sorted(self.motion_states.items()):
            string += "\n    " + str(key) + ": " + str(value)
        return string

In [23]:
import numpy as np
track_dictionary = np.load('D:\\Project\\HctRL-pro\\HCt_RL\\maps\\DR_USA_Intersection_MA\\track.npy',
                            allow_pickle=True).item()
keys = list(track_dictionary.keys())

In [25]:
import pandas as pd

In [28]:
fill=pd.read_csv('data.csv')

In [31]:
len(keys)

156

In [29]:
fill

    fail
0     17
1     33
2     35
3     36
4     37
5     38
6     41
7     55
8     59
9     63
10    65
11    66
12    69
13    71
14    81
15    82
16    86
17    91
18    96
19    98
20    99
21   102
22   103
23   105
24   125
25   128
26   130
27   134
28   135
29   138
30   141
31   143
32   144
33   145
34   146
35   147
36   154
37   158
38   163

In [32]:
new_fail=[]
for i in fill:
    if i in end:
        new_fail.append(i)

In [33]:
new_fail

[]

In [40]:
34/138

0.2463768115942029